@import "./../../style/colors";
@import "./../../style/container";

.hero {

  &__change {

    
    &__cards {
      @media (min-width: 768px) {
        width: 24px;
        color: $colorHeroLinkChange;
        font-size: 14px;
        text-align: center;
        font-weight: 700;
      }

      @media (min-width: 1280px) {
        font-size: 24px;
      }

      &:hover {
        color: $colorHeroTextHover;
        transform: scale(1.1);
      }
    }
  }
}

.mobile {
  &__search {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    

    @media (min-width: 768px) {
    }
  }

  &__dropdown {
    display: flex;
    padding-top: 40px;
   
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__select {
    font-size: 16px;
    font-weight: 700;
    align-items: center;

    width: 93px;
    padding: 5px;

    color: $colorHeroSelect;
    outline: none;
    border-radius: 4px;
    // border: $borderHeroSelect;

    outline: $borderHeroSelect;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--Gray, #5f6775);
      border-radius: 3px;

    }

    &__label {
      height: 2px;
      padding-right: 7px;
      color: $colorHeroLabel;
      border-radius: 4px;
      font-size: 10px;
      font-weight: 700;
    }
  }
}

